@{
    ViewData["Title"] = "Style Library";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<style>
    .inputs{
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:center;
        gap:100px;
        border:0.0001px, solid, whitesmoke;
        padding:40px;
    }
    .inputs .type1{
        display:flex;
        gap:100px;
    }
</style>

<div class="style-library">
    <h1 class="title">Default Layout and Style Store</h1>

     <div class="inputs">
         <div class="type1">
            <div class="input-container">
                <input placeholder="Enter text" class="input-field" type="text">
                <label for="input-field" class="input-label">Enter text</label>
                <span class="input-highlight"></span>
            </div>

            <!-- From Uiverse.io by Maximinodotpy -->
            <div class="inputGroup">
                <input type="text" required="" autocomplete="off">
                <label for="name">Name</label>
            </div>
         </div>

         <div class="type2">
            <div class="loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
         </div>
        
         <!-- buttons -->
        <button class="button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
            </svg>
            <div class="text">
                Button
            </div>
        </button>


        <!-- From Uiverse.io by Yaya12085 radio button -->
        <div class="radio-input">

            <input value="value-1" name="value-radio" id="value-1" type="radio">
            <label for="value-1">Add</label>
            <input value="value-2" name="value-radio" id="value-2" type="radio">
            <label for="value-2">Modify</label>
            <input value="value-3" name="value-radio" id="value-3" type="radio">
            <label for="value-3">Delete</label>
            <input value="value-4" name="value-radio" id="value-4" type="radio">
            <label for="value-4">Inquire</label>

        </div>

     </div>
</div>

<!-- Linking External CSS -->
<link rel="stylesheet" href="~/css/Defaultstyle/style.css">
